@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.promote-title {
  @include gridStyle(auto, auto auto);
  justify-items: center;
}
.wrap {
  position: relative;
  background: url("../imgs/promotion.png") $creamwhite no-repeat top;
  @include prefix(background-size, cover, webkit moz o);
  background-attachment: fixed;
  width: 100vw;
}

.img-size {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: inline-block;
}
.promote-info {
  h2 {
    font-family: "Pridi", serif;
    font-size: clamp(18px, 2vw, 28px);
    font-weight: 300;
  }
  h3 {
    font-size: clamp(21px, 2vw, 32px);
    font-weight: 600;
  }
  text-align: center;
  color: lighten($color: #000000, $amount: 0.5);
  position: absolute;
  z-index: 4;
  bottom: 50%;
  right: 0%;
  transform: translate(0%, 50%);
  width: 100%;
  height: 100%;
  p {
    font-weight: 800;
  }
}
