$orange: #f29f05;
$lightOrange: #f9e4c7;
$peelOrange: #f2aa6b;
$blue: #00455b;
$black: #333533;
$creamwhite: #fff8d4;
$white: #fffcfc;
$green: #babf17;
$lightGreen: #d6d979;
$grey: #c4c4c4;
$lightGrey: #e5e5e5;
$darkGray: #525151;
$bgColor: #fff1dc;
