@import "../styleScss/mixIn.scss";
// logo and icon size
$logoSizeSmall: 20px;
$logoSizeLarge: 50px;
$iconSize: 55px;
$footerIconSmall: 18px;
$footerIconLarge: 25px;

// font size
$minLargeFont: 23px;
$maxLargeFont: 40px;
$minSmallFont: 16px;
$maxSmallFont: 18px;
$minP: 15px;
$maxP: 16px;

html,
body {
  box-sizing: border-box;
  margin: 0;
  // font-family: "Open Sans", sans-serif;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fdfef0;
  line-height: 1.8;
  color: $black;
}
* {
  box-sizing: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1 {
  font-size: clamp($minLargeFont, 3vw, $maxLargeFont);
  // font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  color: $darkGray;
}
h3 {
  font-size: clamp($minSmallFont, 1.5vw, $minLargeFont);
  letter-spacing: 1px;
}
p {
  font-size: clamp($minP, 2vw, $maxP);
  letter-spacing: 1px;
}

.container {
  margin: clamp(1rem, 2vw, 3rem);
  padding: 1.5em;
  text-align: center;
  overflow: hidden;
}
.planet-style {
  width: 100%;
  max-width: 80px;
}

@keyframes floating {
  0% {
    transform: translatey(0px) scale(1);
  }
  50% {
    transform: translatey(-20px) scale(1.2);
  }
  100% {
    transform: translatey(0px) scale(1);
  }
}

@-webkit-keyframes floating {
  0% {
    transform: translatey(0px) scale(1);
  }
  50% {
    transform: translatey(-20px) scale(1.2);
  }
  100% {
    transform: translatey(0px) scale(1);
  }
}
%center-item {
  justify-items: center;
  align-items: center;
}
.float {
  animation: floating 5s infinite forwards ease-in;
  -webkit-animation: floating 5s infinite forwards ease-in;
}
.bottom-left {
  @include planetStyle(80%, 50%, 1, 100px);
  z-index: 5;
}
.bottom-hide {
  @include planetStyle(50%, 15%, 1, 100%);
  z-index: 1;
  transform: rotate(120deg);
  max-width: 60px;
}
