@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.lab-section {
  position: relative;
  @extend %center-item;
  // @include breakpoint("small device") {
  //   margin: 2em;
  // }
  // @include breakpoint("medium device") {
  //   margin: 0 3em;
  // }
  // @include breakpoint("large device") {
  //   margin: 0 5em;
  // }
}
.lab-content {
  // margin-bottom: 50px;
  @extend %center-item;
  @include gridStyle(1fr);
  background-color: $bgColor;
  padding: 5em 2em;
  @include breakpoint("large device") {
    @include gridStyle(0.8fr 1fr);
    justify-items: baseline;
  }
}
.intro-content {
  @extend %center-item;
  margin: 1em;
  max-width: 620px;
  color: $darkGray;
  @include breakpoint("small device") {
    justify-self: center;
  }
  h1 {
    text-align: center;
    font-size: clamp(18px, 2vw, 28px);
    font-weight: 700;
  }
  @include breakpoint("large device") {
    justify-self: start;
  }
  p {
    text-align: center;
    @include breakpoint("large device") {
      margin: 3em;
      font-size: 18px;
    }
  }
}
.lab-img {
  position: relative;
  .img-style {
    max-width: 500px;
    height: auto;
    width: 100%;
    margin: 0.5em;
    box-shadow: $grey 4px 3px 6px;
  }
  .wave {
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 10%;
  }
}
