@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.lab-section {
  position: relative;
  @extend %center-item;
  background-color: $bgColor;
}
.lab-content {
  position: relative;
  z-index: 2;
  @extend %center-item;
  @include gridStyle(1fr);
  padding: 2em 1em;
  @include breakpoint("large device") {
    @include gridStyle(1fr 1fr);
    padding: 4em 2em;
    justify-items: baseline;
  }
}
.intro-content {
  @extend %center-item;
  margin: 1em;
  max-width: 620px;
  color: $darkGray;
  @include breakpoint("small device") {
    justify-self: center;
  }
  h1 {
    text-align: center;
    font-size: clamp(18px, 2vw, 28px);
    font-weight: 700;
  }
  @include breakpoint("large device") {
    justify-self: start;
  }
  p {
    text-align: center;
    @include breakpoint("large device") {
      margin: 3em;
      font-size: 18px;
    }
  }
}
.lab-img {
  position: relative;
  .img-style {
    max-width: 500px;
    height: auto;
    width: 100%;
    margin: 0.5em;
    box-shadow: $grey 4px 3px 6px;
  }
  .wave {
    width: 200px;
    position: absolute;
    bottom: 5%;
    left: 10%;
  }
}
.spot {
  @include breakpoint("small device") {
    display: none;
  }
  width: 100px;
  height: 100px;
  background-image: url("../asset/icons/planet.png");
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 10%;
}
