@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.lab-section {
  position: relative;
  @extend %center-item;
  @include breakpoint("small device") {
    margin: 2em;
  }
  @include breakpoint("medium device") {
    margin: 0 3em;
  }
}
.lab-content {
  margin-bottom: 50px;
  // margin-top: 30px;
  @extend %center-item;
  @include gridStyle(1fr);
  @include breakpoint("large device") {
    @include gridStyle(1fr 1fr);
  }
}
.intro-content {
  @extend %center-item;
  margin: 1em;
  max-width: 600px;
  @include breakpoint("small device") {
    // @include flexStyle(column, center, auto);
    justify-self: center;
  }
  h1 {
    text-align: center;
    font-size: clamp(18px, 2vw, 21px);
    font-weight: 400;
  }
  @include breakpoint("large device") {
    justify-self: start;
  }
  p {
    text-align: center;
    @include breakpoint("large device") {
      margin: 3em;
      font-size: 18px;
    }
  }
}
