@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.menu-opt {
  opacity: 0;
  border-top: 1px solid $green;
  @extend %center-item;
  @include breakpoint("large device") {
    max-width: 1200px;
    margin: 2em auto;
    @include gridStyle(1fr 2fr);
    justify-content: center;
  }
}
.menu-category {
  @include flexStyle(column, center, auto);
  // @include gridStyle(auto, 2fr 1fr);
  // justify-items: center;
  img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
%circle {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  top: 10%;
  left: 0%;
  z-index: -2;
  // background-color: pink;
}
.circle-green {
  @extend %circle;
  background-color: $lightGreen;
  opacity: 0.65;
}
.circle-brown {
  @extend %circle;
  background-color: $peelOrange;
  opacity: 0.77;
}
.circle-orange {
  @extend %circle;
  background-color: $lightOrange;
}
.price-list {
  @include flexStyle(row, flex-end, auto);
  @include breakpoint("medium device") {
    margin: 0 auto;
    max-width: 500px;
  }
  p:first-of-type {
    margin-right: auto;
    @include breakpoint("large device") {
      margin-right: 5em;
      justify-self: start;
    }
  }
}
