@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.menu-opt {
  opacity: 0;
  padding: 1em 2em;
  @extend %center-item;
  @include breakpoint("large device") {
    max-width: 1200px;
    margin: 2em auto;
    display: flex;
    @include gridStyle(1fr 2fr);
    justify-content: center;
  }
}
.menu-category {
  @include flexStyle(column, center, auto);
  img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  h3 {
    font-weight: 500;
    font-size: clamp(18px, 1.6vw, 24px);
    position: relative;
    &::before {
      content: "";
      height: 2px;
      width: 100px;
      position: absolute;
      bottom: -5px;
      right: -10px;
      background-color: $green;
      opacity: 0.5;
      border-radius: 50px;
      z-index: -2;
    }
  }
}
%circle {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  top: 10%;
  left: 0%;
  z-index: -2;
}
.circle-green {
  @extend %circle;
  background-color: $lightGreen;
  opacity: 0.65;
}
.circle-brown {
  @extend %circle;
  background-color: $peelOrange;
  opacity: 0.77;
}
.circle-orange {
  @extend %circle;
  background-color: $lightOrange;
}
.price-list {
  @include flexStyle(row, flex-end, auto);
  @include breakpoint("medium device") {
    margin: 0 auto;
    max-width: 500px;
  }
  p:first-of-type {
    margin-right: auto;
    @include breakpoint("large device") {
      margin-right: 5em;
      justify-self: start;
    }
  }
}
