@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.nav-bar {
  padding-top: 5px;
  width: 100vw;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #fdfef0;
  @include flexStyle(row, flex-end, auto);
  @include breakpoint("small device") {
    flex-wrap: wrap;
    justify-items: end;
  }
  @include breakpoint("large device") {
    flex-wrap: nowrap;
  }
  li {
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    font-family: "Baloo 2", sans-serif;
    font-size: 1.25em;
    &:hover {
      color: $orange;
    }

    // font-size: clamp($minSmallFont, 1.5vw, $maxSmallFont);
  }
}
@supports (-ms-accelerator: true) {
  .show {
    justify-content: space-around;
  }
}
.show {
  z-index: 5;
  @include breakpoint("small device") {
    @include flexStyle(column, space-around, 100vh);
    background: linear-gradient($lightOrange, $creamwhite);
    padding-bottom: 200px;
    transition: height 0.2s ease-out;
    opacity: 1;
    width: 100vw;
  }
  @include breakpoint("medium device") {
    @include flexStyle(row, flex-end, auto);
    margin-right: 100px;
  }
}
.nav-item {
  font-size: clamp(14px, 2vw, 16px);
  // color: $darkGray;
  @include breakpoint("medium device") {
    margin-left: 120px;
    display: inline-block;
  }
}
.hide {
  @include breakpoint("small device") {
    @include flexStyle(column, space-around, 0vh);
    flex-wrap: wrap;
    opacity: 0;
    transition: height 0.2s ease-out;
  }
  @include breakpoint("medium device") {
    @include flexStyle(row, flex-end, auto);
    margin-right: 100px;
    z-index: 5;
  }
}
.fix-position {
  @include breakpoint("small device") {
    overflow: hidden;
    height: 100%;
  }
  overflow: auto;
}
.menu-icon {
  @include breakpoint("small device") {
    width: $iconSize;
    padding-right: 25px;
  }
  @include breakpoint("medium device") {
    display: none;
  }
}
.logo-icon {
  width: 100%;
  max-width: $logoSizeLarge;
  height: auto;
  margin-right: auto;
  margin-left: 10px;
}
.logo-name {
  text-align: center;
  max-width: 600px;
  padding: 1.25em;
  @include breakpoint("small device") {
    padding: 2em 1.25em 0em 1.25em;
  }
  img {
    @include breakpoint("small device") {
      width: 200px;
    }
    height: auto;
    width: 100%;
    max-width: 200px;
    display: block;
  }
  p {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    display: inline-block;
    font-weight: 600;
    // letter-spacing: 2px;
  }
}
@keyframes scaleElement {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
  }
}
.select-opt {
  font-weight: 900;
  &:before {
    content: " ";
    background-image: url("../asset/icons/planet.png");
    @include planetStyle(-10px, -50px, 1, 40px);
    display: inline-block;
    background-size: contain;
    background-position: bottom;
    height: 40px;
    animation: scaleElement 0.5s forwards ease-in-out;
  }
}
.menu-i-line {
  fill: $blue;
}
.menu-i-circle {
  fill: $orange;
}
.hero-section {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  @include flexStyle(column, center, auto);
  @include breakpoint("medium device") {
    @include flexStyle(row, center, auto);
    align-content: center;
    align-items: center;
    margin-top: 100px;
  }
}
.hero-img {
  min-width: 150px;
  width: 100%;
  max-width: 450px;
  margin-bottom: 6em;
  @include breakpoint("large device") {
    margin-left: 30px;
    // max-width: 450px;
  }
}

// wave style in hero section
.custom-shape-divider-bottom-1746045694 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1746045694 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 107px;
}

.custom-shape-divider-bottom-1746045694 .shape-fill {
  fill: #fff1dc;
}
