@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.nav-bar {
  padding-top: 5px;
  width: 100vw;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #fdfef0;
  @include flexStyle(row, flex-end, auto);
  @include breakpoint("small device") {
    flex-wrap: wrap;
    justify-items: end;
  }
  @include breakpoint("large device") {
    flex-wrap: nowrap;
  }
  li {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    // font-size: clamp($minSmallFont, 1.5vw, $maxSmallFont);
  }
}
@supports (-ms-accelerator: true) {
  .show {
    justify-content: space-around;
  }
}
.show {
  z-index: 5;
  @include breakpoint("small device") {
    @include flexStyle(column, space-around, 100vh);
    background: linear-gradient($lightOrange, $creamwhite);
    padding-bottom: 200px;
    transition: height 0.2s ease-out;
    opacity: 1;
    width: 100vw;
  }
  @include breakpoint("medium device") {
    @include flexStyle(row, flex-end, auto);
    margin-right: 100px;
  }
}
.nav-item {
  font-size: clamp(14px, 2vw, 16px);
  color: $darkGray;
  @include breakpoint("medium device") {
    margin-left: 120px;
    display: inline-block;
  }
}
.hide {
  @include breakpoint("small device") {
    @include flexStyle(column, space-around, 0vh);
    flex-wrap: wrap;
    opacity: 0;
    transition: height 0.2s ease-out;
  }
  @include breakpoint("medium device") {
    @include flexStyle(row, flex-end, auto);
    margin-right: 100px;
    z-index: 5;
  }
}
.fix-position {
  @include breakpoint("small device") {
    overflow: hidden;
    height: 100%;
  }
  overflow: auto;
}
.menu-icon {
  @include breakpoint("small device") {
    width: $iconSize;
    padding-right: 25px;
  }
  @include breakpoint("medium device") {
    display: none;
  }
}
.logo-icon {
  width: 100%;
  max-width: $logoSizeLarge;
  height: auto;
  margin-right: auto;
  margin-left: 10px;
}
.logo-name {
  text-align: center;
  img {
    @include breakpoint("small device") {
      width: 300px;
    }
    height: auto;
    width: 100%;
    max-width: 500px;
    display: block;
  }
  p {
    font-size: clamp(1rem, 1.5vw, 1.3rem);
    display: inline-block;
    font-weight: 400;
    letter-spacing: 2px;
    color: $blue;
  }
}
@keyframes scaleElement {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
  }
}
.select-opt {
  font-weight: 800;
  // color: $orange;
  &:before {
    content: " ";
    background-image: url("../asset/icons/planet.svg");
    @include planetStyle(-10px, -50px, 1, 40px);
    display: inline-block;
    background-size: contain;
    background-position: bottom;
    height: 40px;
    animation: scaleElement 0.5s forwards ease-in-out;
  }
}
.menu-i-line {
  fill: $blue;
}
.menu-i-circle {
  fill: $orange;
}
.hero-section {
  margin-top: 150px;
  @include flexStyle(column, center, auto);
  @include breakpoint("medium device") {
    @include flexStyle(row, center, auto);
    align-content: center;
    align-items: center;
  }
}
.hero-img {
  min-width: 180px;
  width: 100%;
  max-width: 580px;
  // z-index: 3;
  // position: relative;
  @include breakpoint("large device") {
    margin-left: 30px;
  }
}
