@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.promote-title {
  @include gridStyle(auto, auto auto);
  justify-items: center;
}
.wrap {
  position: relative;
  background: url("../asset/imgs/promotion.png") $creamwhite no-repeat top;
  @include prefix(background-size, cover, webkit moz o);
  background-attachment: fixed;
  width: 100vw;
}
@supports (-webkit-touch-callout: none) {
  .wrap {
    background-attachment: scroll;
  }
}

@supports not (-webkit-touch-callout: none) {
  .wrap {
    background-attachment: fixed;
  }
}

.img-size {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: inline-block;
}
.promote-info {
  h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    font-size: clamp(2rem, 3.6vw, 4.25rem);
    color: #0b0d0c;
    text-shadow: 5px 4px 0px #fff89b;
    font-style: italic;
  }
  h3 {
    font-size: clamp(21px, 2vw, 32px);
    font-weight: 700;
    color: white;
  }
  text-align: center;
  position: absolute;
  z-index: 4;
  top: -40%;
  left: -30%;
  transform: translate(0%, 50%);
  width: 100%;
  height: 100%;
  p {
    font-weight: 800;
  }
}
