@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.review-content {
  @include breakpoint("large device") {
    @include gridStyle(1fr 1fr, 1fr 1fr);
  }
}
.each-review {
  margin: 1.8em 0;
  opacity: 0;
  // background-color: $white;
  // box-shadow: 0px 8px 16px 3px rgba(186, 186, 186, 0.25);
  // border: solid 1px $green;
  border-radius: 16px;
  border: solid 1px $lightOrange;
  @extend %center-item;
  @include breakpoint("small device") {
    padding: 1.5em 0;
    @include gridStyle(1fr);
  }
  @include breakpoint("medium device") {
    padding: 1.5em;
    @include gridStyle(1fr 1.5fr);
    max-width: 680px;
    margin: 1em auto;
  }
  @include breakpoint("large device") {
    @include gridStyle(1fr);
    margin: 3em;
  }

  img {
    width: 100%;
    min-width: 200px;
    max-width: 320px;
    @include breakpoint("medium device") {
      box-shadow: 20px 20px $peelOrange;
      border-radius: 8px;
    }
  }
  li {
    margin: 0 0.5em;
  }
}
