@import "../styleScss/colors.scss";
@import "../styleScss/global.scss";
@import "../styleScss/mixIn.scss";

.drink-section {
  @include flexStyle(column, center, auto);
  margin: 0;
  @include breakpoint("medium device") {
    // @include gridStyle(1fr 1fr);
    @include flexStyle(row, space-around, auto);
    flex-wrap: wrap;
  }
}
.each-drink {
  position: relative;
  margin: 2em;
  // background-color: salmon;
  flex-basis: 300px;
  &:hover .expand-loop {
    transform: translateX(120px) scale(1.2);
  }
  &:hover .drink-name {
    opacity: 1;
    transform: translate(10px, 70px);
  }
  &:hover .drink-img {
    transform: scale(1.1) rotate(-10deg);
  }
}
.drink-img {
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  max-width: 250px;
  z-index: 2;
  left: -30%;
  transition: transform 0.5s ease;
}
.expand-loop {
  position: absolute;
  bottom: 20%;
  left: 45%;
  z-index: 1;
  width: 200px;
  height: 200px;
  background-color: $peelOrange;
  border-radius: 50%;
  transition: transform 0.6s ease;
  @include breakpoint("large device") {
    bottom: 20%;
    left: 0%;
  }

  p {
    transform: translate(10px, 70px);
    position: relative;
    font-weight: 600;
    font-size: clamp(16px, 2ve, 17px);
    @include breakpoint("large device") {
      opacity: 0;
      transform: translate(-10px, 70px);
      transition: all 0.5s ease;
    }
  }
}
